extends layout.pug

block content
    h1.title-login ¿Algún problema? Envía un msj con tus dudas
    div
    form(action="", method="POST").form2
        div
            input(type="text", name="name", placeholder="Nombre")
        div
            input(type="text", name="apePat", placeholder="Apellido")
        div
            input(type="msj", name="description", placeholder="Descripcion")  
        div
            input(type="submit", value="Enviar comentarios")