<div class="jumbotron">
  <h1 class="display-3">Bienvenido</h1>
  <p class="lead">Sistema de control escolar en linea.</p>
  <hr class="my-4">
  <p>Administra evaluaciones.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/login/teacher/" role="button">Entrar</a>
  </p>
</div>

<button class="boton">Orueba, tengo que ser negro</button>