extends layout.pug

block content
  section.cover
    h1 Bienvenido al control escolar en linea
    a(href="/login")
      button.call-to-action Soy profesor
    a(href="/login")
      button.call-to-action Soy alumno