extends login-layout.pug

block content
    section.cover-login
        div
        h1.title-login Bienvenido 
        div
            form(action="", method="POST").form2
                div
                    input(type="text", name="name", placeholder="Nombre")
                div
                    input(type="password", name="pass", placeholder="Contraseña")
                div
                    input(type="submit", value="Entrar")
                div
                    button.btn.btn-primary(type='submit') ¿No estás registrado? 
