extends ../layout.pug

block content
  h1 Ingresa un nuevo alumno
  form(action="", method='POST').form 
    input(type="text", name="name", placeholder="Nombre")
    input(type="text", name="apePat", placeholder="Apellido Paterno")
    input(type="text", name="apeMat", placeholder="Apellido Materno")
    input(type="number", name="numberRegister", placeholder="Matricula")
    input(type="text", name="genre", placeholder="Genero")
    input(type="text", name="procedenceMpio", placeholder="Mpio de Proc.")
    input(type="text", name="year", placeholder="Grado")
    input(type="text", name="group", placeholder="Grupo")  
    input(type="submit", value="Registrar alumno")