extends ../layout.pug

block content
  h1.title Lista de alumnos inscritos en Epoem 53
  section.list
    each p in students
      .card
        strong=p.name
        img(width="100" src=p.imageURL)
        h7=p.numberRegister
        h6=p.year
            
                 