@import url("https://fonts.googleapis.com/css?family=Bree+Serif");

//Portada
body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html {
  margin: 0;
}
.title-login {
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
  font-size: 2rem;
}

a {
  color: black;
  text-decoration: none;
}

.jumbotron{
  background-repeat: no-repeat;
  background: url("../images/adolescent-attractive-backpack-1462630.jpg") center;
  background-size: cover;
}

.boton{
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}
.btn .btn-primary .btn-lg{
  font-family: 'Courier New', Courier, monospace;
}